<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="url" value="https://vincotte-sandbox.api.crm4.dynamics.com/XRMServices/2011/Organization.svc" />
		<add key="method" value="ClientSecret" />
		<add key="mfaAppId" value="fbbde450-08d6-4b81-9d1c-eb1db66c2967" />
		<add key="mfaClientSecret" value="WGxA-MVI7KMhGT32p9QG-8Y5xu_edaPgE_" />
		<add key="out" value="..\..\..\Libraries\Xrm" />
		<add key="entities" value="audit,webresource" />
		<add key="namespace" value="Formula81.XrmToolBox.Libraries.Xrm" />
		<add key="onefile" value="false" />
	</appSettings>
</configuration>