name: Audit Goggles - Publish & Release

on:
  workflow_dispatch:
    inputs:
      build_version:
        description: "Version to publish (e.g. 1.0.25310.42)"
        required: true
        type: string

env:
  NUGET_SOURCE: https://api.nuget.org/v3/index.json

jobs:
  publish:
    runs-on: windows-latest

    steps:
    - name: Download Nupkg Artifact
      uses: actions/download-artifact@v4
      with:
        name: Nupkg.Formula81.XrmToolBox.Tools.AuditGoggles.${{ github.event.inputs.build_version }}
        path: nupkg-input

    - name: Download Bin Artifact
      uses: actions/download-artifact@v4
      with:
        name: Bin.Formula81.XrmToolBox.Tools.AuditGoggles.${{ github.event.inputs.build_version }}
        path: bin-input        

    #- name: Setup NuGet
      #uses: NuGet/setup-nuget@v2

    #- name: Publish to NuGet.org
      #run: nuget push nupkg-input\*.nupkg -Source ${{ env.NUGET_SOURCE }} -ApiKey ${{ secrets.NUGET_API_KEY }} -SkipDuplicate

    # Create or update GitHub Release
    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      with:
        tag_name: ${{ github.event.inputs.build_version }}
        release_name: Release ${{ github.event.inputs.build_version }}
        body: "Release ${{ github.event.inputs.build_version }} published via workflow."
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}

    # Upload artifact(s) to the release
    - name: Upload NuGet to Release
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: nupkg-input\*.nupkg
        asset_name: Formula81.XrmToolBox.Tools.AuditGoggles.${{ github.event.inputs.build_version }}.nupkg
        asset_content_type: application/octet-stream
        
    - name: Upload Bin to Release
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: bin-input\*.zip
        asset_name: Formula81.XrmToolBox.Tools.AuditGoggles.${{ github.event.inputs.build_version }}.zip
        asset_content_type: application/zip        
