name: Publish NuGet Package

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Version tag to publish"
        required: true
        type: string

permissions:
  contents: read
  packages: write

jobs:
  publish:
    environment: 'Nuget Publish'
    runs-on: windows-latest
    steps:
      #- name: Checkout repository
        #uses: actions/checkout@v4
      - name: Test NugetApiKey
        shell: pwsh
        run: |
          Write-Host "NuGet API Key length: $($env:NUGET_API_KEY.Length)"

      # Download the .nupkg from your release
      - name: Download release assets
        uses: robinraju/release-downloader@v1
        with:
          tag: ${{ github.event.inputs.tag_name }}
          fileName: "*.nupkg"
          out-file-path: ./nupkg
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: List downloaded packages
        run: Get-ChildItem -Path ./nupkg -Recurse
        shell: pwsh

      - name: Publish to NuGet.org
        shell: pwsh
        run: nuget push "./nupkg/*.nupkg" -ApiKey $env:NUGET_API_KEY -Source https://api.nuget.org/v3/index.json -SkipDuplicate
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
