name: Audit Goggles - Publish & Release

on:
  workflow_dispatch:
    inputs:
      build_version:
        description: "Version to publish (e.g. 1.0.25310.42)"
        required: true
        type: string

env:
  NUGET_SOURCE: https://api.nuget.org/v3/index.json

jobs:
  publish:
    runs-on: windows-latest
    steps: 
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2

    #- name: Publish to NuGet.org
      #run: nuget push nupkg-input\*.nupkg -Source ${{ env.NUGET_SOURCE }} -ApiKey ${{ secrets.NUGET_API_KEY }} -SkipDuplicate

       
